<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Création d'un tournoi</title>
    <span th:replace="~{Accueil :: bootstrapImports}"></span>
</head>
<body>

<span th:replace="~{Accueil :: BoostrapCSSPattenDebut}"></span>
<h1>Création d'un tournoi</h1>

<form th:action="@{/savetournoi}" th:object="${tournoi}" method="post">
    <!-- Nom -->
    <div class="row mb-3">
        <label for="name" class="col-sm-2 col-form-label">Nom</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" th:field="*{name}" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''">
            <span class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>
    </div>

    <!-- Jeux -->
    <div class="row mb-3">
        <label for="game" class="col-sm-2 col-form-label">Jeux</label>
        <div class="col-sm-10">
            <select class="form-select" id="game" th:field="*{game}" th:classappend="${#fields.hasErrors('game')} ? 'is-invalid' : ''">
                <option value="">Choisissez un jeu</option>
                <option value="League of Legends">League of Legends</option>
                <option value="Dota 2">Dota 2</option>
                <option value="Counter-Strike: Global Offensive">Counter-Strike: Global Offensive</option>
                <option value="Overwatch">Overwatch</option>
                <option value="Fortnite">Fortnite</option>
                <option value="Apex Legends">Apex Legends</option>
                <option value="Valorant">Valorant</option>
                <option value="Rocket League">Rocket League</option>
                <option value="FIFA 21">FIFA 21</option>
                <option value="Super Smash Bros. Ultimate">Super Smash Bros. Ultimate</option>
            </select>
            <span class="invalid-feedback" th:if="${#fields.hasErrors('game')}" th:errors="*{game}"></span>
        </div>
    </div>

    <!-- Date -->
    <div class="row mb-3">
        <label for="date" class="col-sm-2 col-form-label">Date</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" id="date" th:field="*{dateTournament}" th:classappend="${#fields.hasErrors('dateTournament')} ? 'is-invalid' : ''">
            <span class="invalid-feedback" th:if="${#fields.hasErrors('dateTournament')}" th:errors="*{dateTournament}"></span>
        </div>
    </div>

    <!-- Nombre Limite de Joueurs -->
    <div class="row mb-3">
        <label for="numberLimitePlayer" class="form-label">Nombre Limite de Joueurs :</label>
        <div class="col-sm-10">
            <input type="number" class="form-control form-control-lg" id="numberLimitePlayer" th:field="*{numberLimitePlayer}" th:classappend="${#fields.hasErrors('numberLimitePlayer')} ? 'is-invalid' : ''">
            <span class="invalid-feedback" th:if="${#fields.hasErrors('numberLimitePlayer')}" th:errors="*{numberLimitePlayer}"></span>
        </div>
    </div>

    <!-- Format -->
    <fieldset class="row mb-3">
        <legend class="form-label">Format :</legend>
        <div class="col-sm-10">
            <div class="form-check">
                <input class="form-check-input" type="radio" id="gridRadios1" th:field="*{format}" value="Simple">
                <label class="form-check-label" for="gridRadios1">
                    Simple
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="gridRadios2" th:field="*{format}" value="Double">
                <label class="form-check-label" for="gridRadios2">
                    Double
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="gridRadios3" th:field="*{format}" value="Round-robin">
                <label class="form-check-label" for="gridRadios3">
                    Round-robin
                </label>
            </div>
            <span class="invalid-feedback d-block" th:if="${#fields.hasErrors('format')}" th:errors="*{format}"></span>
        </div>
    </fieldset>

    <!-- Règles -->
    <div class="form-floating">
        <textarea class="form-control" id="rules" style="height: 100px" th:field="*{rules}" th:classappend="${#fields.hasErrors('rules')} ? 'is-invalid' : ''"></textarea>
        <label for="rules">Règles</label>
        <span class="invalid-feedback d-block" th:if="${#fields.hasErrors('rules')}" th:errors="*{rules}"></span>
    </div>

    <!-- Bouton de soumission -->
    <button type="submit" class="btn btn-outline-light btn-lg px-5 m-4">Enregistrer</button>

    <a class="btn btn-outline-light btn-lg px-5 m-4" href="/">Annuler</a>
</form>



<span th:replace="~{Accueil :: BoostrapCSSPattenFin}"></span>

</body>
</html>
